.character-sheet {
  font-family: 'Gentium Book Basic', serif;

    table > tbody > tr {
        td, th {
            padding-top: 0;
            padding-bottom: 0;
            border: .1rem solid #333;
            border-color: #333;
        }
    }
    .ability-table {
        td:not(:first-child) {
            text-align: right;
            max-width: 2.5rem;
            width: 2.5rem;
            padding: 0 1rem 0 0;
        }
    }

    .health-table {
        td, th {
            width: 2%;
            height: 11px;
            padding: 0;
            font-size: 0.7rem;

            &.inactive {
                border-color: #ccc;
            }
        }

        th {
            border: none;
            text-align: center;
        }
    }

    small {
        color: inherit;
    }
}
