.switch-light {
    &__inner {
        border: 1px solid rgba(0,0,0,.125);
        cursor: pointer;
    }

    &__true, &__false  {
        font-weight: 400;
        transition: color .3s ease;
        color: #212529;
    }
}

.alert, .card {
    .fas {
        margin-right: .5rem;
    }
}

.level-table {
    td, th {
        padding: .65rem .5rem;

        &:not(:first-child) {
            text-align: center;
        }
    }
}

.stepnavigation {
    position: relative;
    height: 3rem;

    &__left, &__center, &__right {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    &__left {
        left: 0;
    }

    &__right {
        right: 0;
    }

    &__center {
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
